.imageBox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
padding: 0;
  .user-img {

    background-position: center center !important;
    background-size: cover !important;
    border-radius: 50%;


    height: 100% !important;
    width: 100% !important;
  }

  .user-img:hover .pen {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.5) !important;
  }

  .user-img:hover .Pen {
    opacity: 1 !important;
  }
}
