
@media (min-width: 768px)  {
  .main{
    height: 100vh;
  }
  .arabic .rightHalf{
    border-right: solid 1px rgba($color: #000000, $alpha: 0.1);
    }
  .english .rightHalf{
    border-left: solid 1px rgba($color: #000000, $alpha: 0.1);
    }
}

@media (max-width: 768px) {
  .main{
   padding: 20px 0;
  }
  .leftHalf{
    height: 60vh !important;
  }
  .nightborder{
    border-bottom: solid 1px rgba($color: #ffffff, $alpha: 0.2) !important;
  }
  .rightHalf{
    border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
height: 35vh !important;
  }
}
