.user-img {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-size: cover;
  background-image: url("../../../assets/img/6222603.jpg");
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.cursor-pointer {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.cursor-pointer:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.star-item {
  transition: all 0.3s ease;
}

.star-item:hover {
  background-color: #f9fafb;
  transform: scale(1.01);
}

.delete-btn i:hover {
  color: #dc3545;
  transform: scale(1.2);
  transition: 0.2s ease;
}

@media screen and (max-width: 500px) {
  .delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 8px;
    font-size: 10px;
    border-radius: 0 0 0 50%;
  }

  .user-img {
    width: 50px;
    height: 50px;
  }
}
