
@media (min-width: 768px)  {
  .main{
    height: 100vh;
  }
  .arabic .rightHalf{
    border-right: solid 1px rgba($color: #000000, $alpha: 0.1);
    }
  .english .rightHalf{
    border-left: solid 1px rgba($color: #000000, $alpha: 0.1);

    }
    .arabic .leftHalf{
padding: 20px 0;
    }
    .english .leftHalf{
      padding: 20px 0;
    }
}

@media (max-width: 768px) {
  .main{
   padding: 20px 0;
  height: 135vh;
  }
  .leftHalf{
    height: 80vh !important;
  }
  .nightborder{
    border-bottom: solid 1px rgba($color: #ffffff, $alpha: 0.2) !important;
  }
  .rightHalf{
    border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
height: 55vh !important;
  }
}

@media (max-width: 460px) {
  .main{
    padding: 20px 0;
   height: 125vh;

   }
   .leftHalf{
     height: 80vh !important;
   }

   .nightborder{
     border-bottom: solid 1px rgba($color: #ffffff, $alpha: 0.2) !important;

   }

   .rightHalf{
     border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
 height: 45vh !important;
   }
}

.alert-danger {
  background-color: #ffcccc;
  color: #900;
  font-weight: 500;
  border: 1px solid #e09;
  border-radius: 8px;
}
.alert-danger {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
